/* wilson.css */

 

html {

  margin: 10px;

  padding: 0;

  outline: 0;

  font-size: 100%;

  vertical-align: baseline;

  background: black;

}

 

p {

  color: white;

}

 

h2 {

  color: white;

  text-align: center;

  font-size: 68px;

  font-family: brushscriptmt;

}

 

h1 {

  color: white;

  text-align: center;

  font-size: 59px;

  font-family: brushscriptmt;

}

 

h3 {

  color: white;

  text-align: center;

  font-size: 68px;

  font-family: brushscriptmt;

}

 

table {

  margin: 0 auto;

  body {
    background-color: black;
    color: white;
  }

  .float-left {
    float: left;
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .clear {
    clear: both;
  }
 

* {

  box-sizing: border-box;

  font-family: sans-serif, sans-serif;

}

 

textarea {

  height: 150px;

}

 

input[type="submit"]:hover {

  background-color: #3e8e41;

}

 

footer {

  background-color: #777;

  padding: 25px;

  border: 8px solid black;

  text-align: left;

  color: white;

}

 

footer a {

  color: white;

  text-decoration: none;

}

 

footer a:hover {

  color: gold;

}

 

.cards {

  display: flex;

  flex-wrap: wrap;

  align-items: flex-start;

  flex-direction: row;

  max-height: 100vh;

}

 

.cards img {

  margin: 10px;

  border: 3px solid #000;

  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);

  max-width: 23vw;

}

 

.cards figcaption {

  color: white;

  text-align: center;

  font-size: 20px;

  font-family: Arial, sans-serif;

}

 

.fixed-image {

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  z-index: 999;

}

