html {

    margin:10px;

    padding:0;

    border:20;

    outline:0;

    font-size:100%;

    vertical-align:baseline;

    background:black;

}
 

html, body {
    border: 10px solid grey;
      
font-family: brushscriptmt; 
         

}
 

        p {

            color: white;

        }

 

        h1 {

            color: white;

            text-align: center;

            font-size: 45px;

            font-family: brushscriptmt;

        }

 

        footer {

            background-color: #777;

            padding: 25px;

            border: none;

            border: 8px solid black;

            text-align: left;

            color: white;
            
             font-family: brushscriptmt;

        }

 

        footer a {

            color: white;

            text-decoration: none;
            font-family: brushscriptmt;

        }

 

        footer a:hover {

            color: gold;
            font-family: brushscriptmt;

        }

        center div h2,

        center div p {

            color: white;

        }

        center div:hover h2,

        center div:hover {

            color: gold;

        }


 

