html {

    margin:10px;

    padding:0;

    border:20;

    outline:0;

    font-size:100%;

    vertical-align:baseline;

    background:black;
    
    .image-container {
  max-width: 100%;
  border: 1px solid black;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

}
 

html, body {
    border: 10px solid grey;
      
font-family: Georgia; 
     font-size: 25px; 
    
         

}
 

        p {

            color: white;

        }

 

        h1 {

            color: white;

            text-align: center;

         font-size: 118px;

          font-family: Cedarville Cursive;

        }

 

        footer {

            background-color: #777;

            padding: 25px;

            border: none;

            border: 8px solid black;

            text-align: center;

            color: white;
            
             font-family: brushscriptmt;

        }

 

        footer a {

            color: white;
              text-align: center;
            text-decoration: none;
            font-family: brushscriptmt;

        }

 

        footer a:hover {

            color: gold;
            font-family: brushscriptmt;

        }

        center div h2,

        center div p {

            color: white;

        }

        center div:hover h2,

        center div:hover {

            color: gold;
            
  }


.slidecontainer {
  width: 75%;
  margin-top: 20px;
  position: relative; /* Add position: relative to the slider container */
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  outline: none;
  border-radius: 12px;
  background: linear-gradient(90deg, rgb(117, 252, 117) 60%);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.slider p {
  position: absolute;
  top: -30px; /* Adjust the top value as needed */
  color: white;
  font-size: 2rem; /* Adjust the font size as needed */
}

.slider p::after {
  content: attr(data-value); /* Display the value of the slider */
}

.slider::after {
  content: "100";
  color: white;
  font-size:2em; /* Adjust the font size as needed */
  position: absolute;
  right: 0; /* Position it at the right end of the slider */
  top: -30px; /* Adjust the top value as needed */
}

.slider::before {
  content: "0";
  color: white;
  font-size:2rem; /* Adjust the font size as needed */
  position: absolute;
  left: 0; /* Position it at the left end of the slider */
  top: -30px; /* Adjust the top value as needed */
}

