html {

    margin:10px;

    padding:0;

    border:20;

    outline:0;

    font-size:100%;

    vertical-align:baseline;

    background:black;

}

p{

color:white;

}

h2{

color: white;

text-align: center;

font-size: 45px;

                        font-family: brushscriptmt;

 

}

h1{

color: white;

text-align: center;

font-size: 45px;

                        font-family: brushscriptmt;

}

h3{

color: white;

text-align: center;

font-size: 45px;

                        font-family: brushscriptmt;

}            

table {

margin: 0 auto;

                 }

                 html, body {

                 border: 10px solid grey;

                 }

 

* {

                         box-sizing: border-box;

                        font-family: brushscriptmt;

                 }

 

 

                         textarea {

                         height: 150px;

                   }

                         input[type=submit]:hover {

                         backgroundcolor-: #3e8e41;

                     }

                         footer {

    background-color: #777;

    padding: 25px;

    border: none;

    border: 8px solid black;

    text-align: left;

    color: white;

}

 

footer a {

    color: white;

    text-decoration: none;

}

 

footer a:hover {

    color: gold;

}
