html {

    margin:10px;

    padding:0;

    border:20;

    outline:0;

    font-size:100%;

    vertical-align:baseline;

    background:black;

}

p{

color:white;

}

h2{

color: white;

text-align: center;

font-size: 45px;

                        font-family: brushscriptmt;

 

}

h1{

color: white;

text-align: center;

font-size: 118px;

         

}

h3{

color: white;

text-align: center;

font-size: 45px;

                        font-family: brushscriptmt;

                 }

                 html, body {

                 border: 10px solid grey;
     img {
        max-width: 100%;
        height: auto;
        border: 1px solid black;
    }

                 }

 

* {

                         box-sizing: border-box;

                        font-family: brushscriptmt;

                 }

 

 

                         textarea {

                         height: 150px;

                   }

                         input[type=submit]:hover {

                         backgroundcolor-: #3e8e41;

                     }

                         footer {

    background-color: #777;

    padding: 25px;

    border: none;

    border: 8px solid black;

    text-align: left;

    color: white;

}

.image-container {
  max-width: 100%;
  border: 1px solid black;
}

.image-container img {
  max-width: 100%;
  height: auto;
}
 

footer a {

    color: white;

    text-decoration: none;
    
    font-size: 15px;

}

 

footer a:hover {

    color: gold;

}
