html {

    margin:10px;

    padding:0;

    border:20;

    outline:0;

    font-size:100%;

    vertical-align:baseline;

    background:black;

}
html, body {
    border: 10px solid grey;
    font-family: Serif;
}
 

.title {
  font-family: Century Gothic, Helvetica, sans-serif;
}

p{

color:white;

}

h2{

color: white;

text-align: center;

font-size: 68px;

                        font-family: Serif;

 

}

h1{

color: white;

text-align: center;

font-size: 118px;

                        font-family: Serif;

}

h3{

color: white;

text-align: center;

font-size: 68px;

                        font-family: Serif;

} 

h4{

color: white;

text-align: center;

font-size: 34px;

                        font-family: Serif;

}

* {

                         box-sizing: border-box;

                        font-family: Serif;

                 }

                 form {

                         max-width: 500px;

                         margin: 0 auto;

                         padding: 20px;

                         background-color:white;

                         border-radius: 10px;

                  }

                  label {

                         display: block;

                         font-weight: bold;

                         margin-bottom: 10px;

                 color: black;

                  }

                         input[type=text], input[type=email], textarea {

                         width: 100%;

                         padding: 10px;

                         border: none;

                         border-radius: 5px;

                         margin-bottom: 20px;

                         Font-size: 16px;

                   }

                         textarea {

                         height: 150px;

                   }

                         input[type=submit] {

                         background-color: #4CAF50;

                         color: Sienna;

                         padding: 10px 20px;

                         border: none;

                         border-radius: 5px;

                         cursor: pointer;

                         font-size: 16px;

                     }

                         input[type=submit]:hover {

                         backgroundcolor-: #3e8e41;

                     }

                         footer {

    background-color: #777;

    padding: 25px;

    border: none;

    border: 8px solid black;

    text-align: left;

    color: white;

}

 

footer a {

    color: white;

    text-decoration: none;
    
    font-family: brushscriptmt;

}

 

footer a:hover {

    color: gold;

}

   .float-left {

    float: left;

    padding: 50px;

    margin: 0 15px 15px 0;

    background: gold;

  }
